


.viewscreen {
    border: solid black 2px;
    width: 1000px;
    height: 600px;
    top: 10%;
    left: 15%;
    position: absolute;
    overflow: hidden;
    
   
}

.dog {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    position: absolute;
    top: 50%;
    left: 20px;
    
    
}

.bunny {
    width: 30px;
    height: 30px;
    background-color: burlywood;
    position: absolute;
    top: 50%;
    right: 50px;
}


.obst {
    width: 100px;
    height: 100px;
    background-color: brown;
    position: absolute;
    top: 50%;
    right: 100px;
}
.obst2 {
    width: 100px;
    height: 100px;
    background-color: brown;
    position: absolute;
    top: 0;
    right: 500px;
}
.obst3 {
    width: 100px;
    height: 100px;
    background-color: brown;
    position: absolute;
    top: 20%;
    right: 300px;
}
.obst4 {
    width: 100px;
    height: 100px;
    background-color: brown;
    position: absolute;
    top: 40%;
    right: 400px;
}
.obst5 {
    width: 100px;
    height: 100px;
    background-color: brown;
    position: absolute;
    top: 60%;
    right: 300px;
}
.obst6 {
    width: 100px;
    height: 100px;
    background-color: brown;
    position: absolute;
    top: 80%;
    right: 400px;
}

.pointcounter {
    width: 100px;
    height: 50px;
    background-color: coral;
    position: absolute;
    right: 0px;
    font-family: monospace;
    
}

@media screen and (min-width: 500px ) {
    .viewscreen {
        width: 800px;
        left: 5%;
    }
}