


.viewscreen {
    border: solid black 2px;
    width: 1000px;
    height: 600px;
    top: 10%;
    left: 15%;
    position: absolute;
    overflow: hidden;
    
   
}

.dog {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    position: absolute;
    top: 50%;
    left: 20px;
    
    
}

.bunny {
    width: 30px;
    height: 30px;
    background-color: burlywood;
    position: absolute;
    top: 50%;
    right: 50px;
}


.rock {
    width: 100px;
    height: 100px;
    background-color: brown;
    position: absolute;
    top: 50%;
    right: 100px;
}


.pointcounter {
    width: 100px;
    height: 50px;
    background-color: coral;
    position: absolute;
    right: 0px;
    font-family: monospace;
    
}

.gameover {
    position: absolute;
    width: 400px;
    height: 150px;
    background-color: cadetblue;
    top: 30%;
    right: 25%;
    border-radius: 20px;
    text-align: center;
    font-size: 40px;
}

.replay {
    position: absolute;
    background-color: crimson;
    height: 100px;
    width: 200px;
    border-radius: 20px;
    top: 60%;
    right: 38%;
    font-size: 30px;
}

@media screen and (min-width: 500px ) {
    .viewscreen {
        width: 800px;
        left: 5%;
    }
}